<?xml version="1.0"?>
<model>
    <name>CartPole</name>

    <version>1.0</version>
    <sdf version='1.6'>CartPole.urdf</sdf>

    <author>
        <name>Diego Ferigo</name>
        <email>diego.ferigo@iit.it</email>
    </author>

    <description>
        SDF model of a simple cartpole.
    </description>
</model>
