<?xml version='1.0'?>
<model>
    <name>Minitaur model</name>

    <version>1.0</version>
    <sdf version='1.6'>minitaur_constrained.sdf</sdf>

    <author>
        <name>Diego Ferigo</name>
        <email>diego.ferigo@iit.it</email>
    </author>

    <description>
        Model of the Minitaur robot. Downloaded from KodlabPenn/ghost_gazebo.
    </description>
</model>
