<?xml version="1.0"?>
<model>
    <name>CartPole World for Ignition</name>

    <version>1.0</version>
    <sdf version='1.6'>CartPole.sdf</sdf>

    <author>
        <name>Diego Ferigo</name>
        <email>diego.ferigo@iit.it</email>
    </author>

    <description>
        World for the CartPole.
    </description>
</model>
