<launch>

  <arg name="model" default="/home/dferigo/git/gym-ignition/models/CartPole/CartPole.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="/home/dferigo/git/gym-ignition/models/CartPole/rviz/display.rviz" />

  <param name="robot_description" textfile="$(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
