<?xml version="1.0"?>
<model>
    <name>iCubGazeboV2_5</name>

    <version>1.0</version>
    <sdf version='1.6'>iCubGazeboV2_5.sdf</sdf>

    <author>
        <name>Diego Ferigo</name>
        <email>diego.ferigo@iit.it</email>
    </author>

    <description>
        Model for the iCub humanoid robot. For more information check icub.org.
    </description>
</model>
